In [61]:
import numpy as np
import pandas as pd

In [62]:
# wczytujemy nasz przykładowy zbiór danych jako ramkę danych

df = pd.read_csv('https://raw.githubusercontent.com/mateuszr/ml-course-1/main/datasets/dummy.csv')

In [63]:
# oto jak wygląda w całości

df

# zwrócmy uwagę, że NaN pojawia się także w kolumnie gdzie mamy wartości tekstowe

     A    B    C  D      E
0  1.0  2.0  3.0  4  First
1  NaN  5.0  6.0  3    NaN
2  1.0  NaN  NaN  2    NaN
3  7.0  3.0  NaN  1  First
4  1.0  3.0  2.0  2  Third
5  7.0  4.0  2.0  4  Forth

In [64]:
# możemy użyc funkcji "describe()" na takiej ramce danych aby poznać podstawowe
# statystyki o wartościach liczbowych. Rezultatem działania funkcji "describe()"
# jest również ramka danych. 
# Statystyki podane są wg kolumn, dla poszczególnych kolumn z osobna.
# Na uwagę zasługuje pierwszy wiersz "count", zliczający ile w danej kolumnie
# jest wartości niepustych (tj wartości które nie są NA/NaN/NULL)

df.describe()

              A         B         C         D
count  5.000000  5.000000  4.000000  6.000000
mean   3.400000  3.400000  3.250000  2.666667
std    3.286335  1.140175  1.892969  1.211060
min    1.000000  2.000000  2.000000  1.000000
25%    1.000000  3.000000  2.000000  2.000000
50%    1.000000  3.000000  2.500000  2.500000
75%    7.000000  4.000000  3.750000  3.750000
max    7.000000  5.000000  6.000000  4.000000

In [65]:
# skoro jest to ramka danych, możemy wyświetlić tylko interesujący nas wiersz "count"

df.describe().loc["count"]

A    5.0
B    5.0
C    4.0
D    6.0
Name: count, dtype: float64

In [66]:
# inną metodą na wyświetlenie brakujących wartości jest funkcja "isna()"
# w tym wypadku funkcja zwróci wartość True tam, gdzie brakuje wartości.

df.isna()

       A      B      C      D      E
0  False  False  False  False  False
1   True  False  False  False   True
2  False   True   True  False   True
3  False  False   True  False  False
4  False  False  False  False  False
5  False  False  False  False  False

In [67]:
# taki wynik możemy zliczyć aby poznać statystyki brakujących danych.
# w tym wypadku zliczmay wszytskie brakujące dane wg kolumn
# przy pomocy funkcji agregującej "sum()"

df.isna().sum()

A    1
B    1
C    2
D    0
E    2
dtype: int64

In [68]:
# Funkcja "sum()" domyślnie zliczy wartości "True" wg. kolumn, 
# ale podając parametr "axis = 1" funckja policzy te wartości
# wg. wierszy.

df.isna().sum(axis = 1)

0    0
1    2
2    3
3    1
4    0
5    0
dtype: int64

In [69]:
# Czasami nie musimy zliczać brakujących wartości, tylko chcemy poznać
# kolumny/wiersze gdzie one występują (np. aby poźniej takie wiersze usunąć).
# Można użyc funkcji "any()", która zwróci wartość "True" tam, gdzie kolumna
# zawiera brakujące wartości.

df.isna().any()

A     True
B     True
C     True
D    False
E     True
dtype: bool

In [70]:
# ...i to samo co poprzednio, ale wg wierszy:

df.isna().any(axis = 1)

0    False
1     True
2     True
3     True
4    False
5    False
dtype: bool

In [71]:
# Czasami chcemy przejrzeć tylko te wiersze, gdzie brakuje danych:
# Możemy użyc poprzedniego wyrażenia jako "filtra", który 
# zaznaczy tylko te wiersze ramki danych, które posiadają brakujące dane
# (wyswietli te wiersze gdzie jest wartość "True")

df[df.isna().any(axis = 1)]

     A    B    C  D      E
1  NaN  5.0  6.0  3    NaN
2  1.0  NaN  NaN  2    NaN
3  7.0  3.0  NaN  1  First

In [72]:
# Moglibyśmy użyc podobnej konstrukcji, aby wybrać tylko "pełne" wiersze,
# tj. te, w których nie ma brakujących danych:

df[~ df.isna().any(axis = 1)]

     A    B    C  D      E
0  1.0  2.0  3.0  4  First
4  1.0  3.0  2.0  2  Third
5  7.0  4.0  2.0  4  Forth

In [73]:
# natomiast do filtrowania brakujących danych istnieje już gotowa funkcja, którą
# łatwiej zapamiętać: "dropna()"

df.dropna()

     A    B    C  D      E
0  1.0  2.0  3.0  4  First
4  1.0  3.0  2.0  2  Third
5  7.0  4.0  2.0  4  Forth

In [74]:
# Funkcja dropna() nie usunie wierszy z bieżącej ramki danych, lecz
# tworzy nową ramkę danych bez brakujących wartości, dlatego
# trzeba wynik przypisać do nowej zmiennej:

new_df = df.dropna()

new_df

     A    B    C  D      E
0  1.0  2.0  3.0  4  First
4  1.0  3.0  2.0  2  Third
5  7.0  4.0  2.0  4  Forth

In [75]:
# Funkcja "dropna()" działa wg wierszy, aby usunąć kolumny z brakującymi wierszami
# podajemy parametr axis = 'columns' (lub axis = 1)

df.dropna(axis = 'columns')

   D
0  4
1  3
2  2
3  1
4  2
5  4

In [76]:
# Jak uzupełnić brakujące dane?
# 
# W przypadku zmiennych skategoryzowanych: 
# dodajemy nową klasę która reprezentuje brakujące wartości (np. "None", "Brak", etc)
# służy do tego funkcja "fillna()"

# w tym, przypadku modyfikujemy ramkę "w miejscu", tj zmiana zostanie zaaplikowana
# do istniejącej ramki (parametr inplace=True) zamiast tworzyć nową.
df["E"].fillna("None", inplace = True)

df

     A    B    C  D      E
0  1.0  2.0  3.0  4  First
1  NaN  5.0  6.0  3   None
2  1.0  NaN  NaN  2   None
3  7.0  3.0  NaN  1  First
4  1.0  3.0  2.0  2  Third
5  7.0  4.0  2.0  4  Forth

In [77]:
# podobnie możemy zamienić brakujące dane liczbowe
# gdy chcemy uzupelnic je jakąś stałą wartością domyślną
# W tym przykladzie uzupełnimy brakujące wartości w kolumnie A wartością 1
# (i wartości te zostaną zapisane w ramce danych w tej samej zmiennej, bo: inplace = True)

df["A"].fillna(1, inplace = True)

df

     A    B    C  D      E
0  1.0  2.0  3.0  4  First
1  1.0  5.0  6.0  3   None
2  1.0  NaN  NaN  2   None
3  7.0  3.0  NaN  1  First
4  1.0  3.0  2.0  2  Third
5  7.0  4.0  2.0  4  Forth

In [78]:
# możemy też wypenić braki poprzednimi wartościami
# użyjemy też funkcji fillna, ale z parametrem: method='ffill' (forward fill)

df.fillna(method='ffill')

     A    B    C  D      E
0  1.0  2.0  3.0  4  First
1  1.0  5.0  6.0  3   None
2  1.0  5.0  6.0  2   None
3  7.0  3.0  6.0  1  First
4  1.0  3.0  2.0  2  Third
5  7.0  4.0  2.0  4  Forth

In [79]:
# Inną metodą uzupełniania brakujących wartości liczbowych jest interpolacja wartości.
# W tym wypadku wartość zostanie obliczona jako średnia z wartośc przed i po w danej kolumnie.
# Jeśli będzie kilka brakujących wartości "pod rząd" to wartości zostaną uzupełnione
# tak, aby były w równych odstepach.

df.interpolate(method ='linear', limit_direction ='forward')

     A    B         C  D      E
0  1.0  2.0  3.000000  4  First
1  1.0  5.0  6.000000  3   None
2  1.0  4.0  4.666667  2   None
3  7.0  3.0  3.333333  1  First
4  1.0  3.0  2.000000  2  Third
5  7.0  4.0  2.000000  4  Forth

In [80]:
# Dodatkowe informacje o uzupełnianiu brakujących danych: https://pandas.pydata.org/docs/user_guide/missing_data.html

In [81]:
# Jak zamienić zmienne skategoryzowane na liczbowe?

In [82]:
# wczytujemy przykładowy zbiór danych zawierający kolumnę z wartościami 
# skategoryzowanymi 

categoric = pd.read_csv('https://raw.githubusercontent.com/mateuszr/ml-course-1/main/datasets/dummy-2.csv')

In [83]:
categoric

   Id         Item   Price
0   1          New  Medium
1   2  Second-hand  Medium
2   3          New  Medium
3   4          New    High
4   5  Second-hand     Low
5   6  Second-hand     Low
6   7          New  Medium

In [84]:
# Aby stworzyć tzw. sztuczne zmienne ("dummy variables") i zakodować
# wartości skategoryzowane jako "1 z n" możemy użyć funkcji "get_dummies()"
# w nastepujący sposób, podając nazwę kolumny którą chcemy zamienić na "1 z n":

pd.get_dummies(categoric.Item)

   New  Second-hand
0    1            0
1    0            1
2    1            0
3    1            0
4    0            1
5    0            1
6    1            0

In [85]:
# funkcja ta tylko zwróci nam nową reprezentację, ale stara ramka danych będzie bez zmian.
# musimy zatem skleić nową reprezentację ze starą ramką danych a następnie usunąć
# kolumnę którż już przekonwertowaliśmy ("Item"). przy pomocy funkcji "drop()"

new_columns = pd.get_dummies(categoric.Item)
new_df = pd.concat([categoric, new_columns], axis='columns')
new_df = new_df.drop(['Item'], axis='columns')

In [86]:
new_df

   Id   Price  New  Second-hand
0   1  Medium    1            0
1   2  Medium    0            1
2   3  Medium    1            0
3   4    High    1            0
4   5     Low    0            1
5   6     Low    0            1
6   7  Medium    1            0

In [87]:
# Możemy też reprezentować wartości skategoryzowane uporządkowane jako liczby
# Wtedy najłatwiej użyć funkcji "replace()" aby po prostu zamienić wartości
# z tekstowych w liczbowe.
# Funkcja "replace()" może zamienić wartości "w miejscu", tj. zaktualizuje
# nam bieżącą ramkę danych z nowymi wartościami.

new_df['Price'].replace(['Low', 'Medium', 'High'], [0, 1, 2], inplace=True)

In [88]:
new_df

   Id  Price  New  Second-hand
0   1      1    1            0
1   2      1    0            1
2   3      1    1            0
3   4      2    1            0
4   5      0    0            1
5   6      0    0            1
6   7      1    1            0